/vendor/
/node_modules/
npm-debug.log

# Laravel 4 specific
bootstrap/compiled.php
/app/storage/

#storage/
# Laravel 5 & Lumen specific
public/storage
public/hot
#.env.*.php
#.env.php
# .env



#new added folders

.idea

/.phpintel/
js/
vendor.js
manifest.js
main.js
.idea
.phpintel